<% if logged_in? %>

　<%= link_to 'ユーザー一覧', users_path, class: 'btn btn-default' %>
　
　<%= link_to 'タスク一覧', tasks_path, class: 'btn btn-default' %>
　
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the TaskManagement</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

<% end %>
